In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('temp-data.csv')

In [3]:
df=pd.DataFrame(data)

In [4]:
df.head()

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In

In [5]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

In [6]:
df.describe(include="all")

,id,room_id/id,noted_date,temp,out/in
count,97606,97606,97606,97606.000000,97606
unique,97605,1,27920,NaN,2
top,__export__.temp_log_196108_4a983c7e,Room Admin,12-09-2018 03:09,NaN,Out
freq,2,97606,65,NaN,77261
mean,NaN,NaN,NaN,35.053931,NaN
std,NaN,NaN,NaN,5.699825,NaN
min,NaN,NaN,NaN,21.000000,NaN
25%,NaN,NaN,NaN,30.000000,NaN
50%,NaN,NaN,NaN,35.000000,NaN
75%,NaN,NaN,NaN,40.000000,NaN
max,NaN,NaN,NaN,51.000000,NaN

In [7]:
df.isnull().sum()

id            0
room_id/id    0
noted_date    0
temp          0
out/in        0
dtype: int64

In [8]:
df.shape

(97606, 5)

In [9]:
df['noted_date'][1][:10]

'08-12-2018'

In [10]:
df['noted_date'][1][11:]

'09:30'

In [11]:
new= df['noted_date'].str.split(" ",n=1,expand=True)

In [12]:
df['date']=new[0]
df['time']=new[1]
df.head()

,id,room_id/id,noted_date,temp,out/in,date,time
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In,08-12-2018,09:30
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In,08-12-2018,09:30
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out,08-12-2018,09:29
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out,08-12-2018,09:29
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In,08-12-2018,09:29

In [13]:
from datetime import date, datetime
def convert_to_datetime(temp):
    date_str=temp['noted_date']
    temp['noted_date']=datetime.strptime(date_str,'%d-%m-%Y %H:%M')
    return temp
df=df.apply(convert_to_datetime,axis=1)

In [14]:
df.head()

,id,room_id/id,noted_date,temp,out/in,date,time
0,__export__.temp_log_196134_bd201015,Room Admin,2018-12-08 09:30:00,29,In,08-12-2018,09:30
1,__export__.temp_log_196131_7bca51bc,Room Admin,2018-12-08 09:30:00,29,In,08-12-2018,09:30
2,__export__.temp_log_196127_522915e3,Room Admin,2018-12-08 09:29:00,41,Out,08-12-2018,09:29
3,__export__.temp_log_196128_be0919cf,Room Admin,2018-12-08 09:29:00,41,Out,08-12-2018,09:29
4,__export__.temp_log_196126_d30b72fb,Room Admin,2018-12-08 09:29:00,31,In,08-12-2018,09:29

In [15]:
seasons={12:'Winter',1:'Spring',2:'Spring',3:'Summer',4:'Summer',5:'Summer',6:'Monsoon',7:'Monsoon',8:'Monsoon',9:'Autumn',10:'Autumn',11:'Winter'}
def get_season(date_log):
    date_log['season']=seasons.get(date_log['noted_date'].month)
    return date_log
df=df.apply(get_season,axis=1)

In [16]:
df.head()

,id,room_id/id,noted_date,temp,out/in,date,time,season
0,__export__.temp_log_196134_bd201015,Room Admin,2018-12-08 09:30:00,29,In,08-12-2018,09:30,Winter
1,__export__.temp_log_196131_7bca51bc,Room Admin,2018-12-08 09:30:00,29,In,08-12-2018,09:30,Winter
2,__export__.temp_log_196127_522915e3,Room Admin,2018-12-08 09:29:00,41,Out,08-12-2018,09:29,Winter
3,__export__.temp_log_196128_be0919cf,Room Admin,2018-12-08 09:29:00,41,Out,08-12-2018,09:29,Winter
4,__export__.temp_log_196126_d30b72fb,Room Admin,2018-12-08 09:29:00,31,In,08-12-2018,09:29,Winter

In [17]:
mean=df.groupby(['season']).mean()

In [18]:
mean

              temp
season
Autumn   34.823552
Monsoon  30.597912
Winter   36.833960

In [19]:
min_max_season=df.groupby(['season']).agg({'temp':['min', 'max']})

In [20]:
min_max_season

        temp
         min max
season
Autumn    22  51
Monsoon   27  35
Winter    21  49

In [21]:
min_max_season_days=df.groupby(['season','date']).agg({'temp':['min', 'max']})

In [22]:
min_max_season_days

                  temp
                   min max
season date
Autumn 03-09-2018   28  33
       04-09-2018   27  32
       05-09-2018   24  28
       06-09-2018   24  33
       07-09-2018   27  32
...                ...  ..
Winter 26-11-2018   36  45
       27-11-2018   25  43
       28-11-2018   25  43
       29-11-2018   33  43
       30-11-2018   34  44

[86 rows x 2 columns]

In [23]:
min_max_days=df.groupby(['date']).agg({'temp':['min', 'max']})

In [24]:
min_max_season_days=df.groupby(['season','date']).agg({'temp':['min', 'max']})

In [25]:
times={16:'Noon',12:'Noon',13:'Noon',14:'Noon',15:'Noon',17:'Evening',18:'Evening',19:'Evening',20:'Evening',21:'Night',22:'Night',23:'Night',0:'Night',1:'Night',2:'Night',3:'Night',4:'Night',5:'Morning',6:'Morning',7:'Morning',8:'Morning',9:'Morning',10:'Morning',11:'Morning'}
def get_time(date_log):
    date_log['time_of_day']=times.get(date_log['noted_date'].hour)
    return date_log
df=df.apply(get_time,axis=1)

In [26]:
df.head

<bound method NDFrame.head of                                         id  room_id/id          noted_date  \
0      __export__.temp_log_196134_bd201015  Room Admin 2018-12-08 09:30:00
1      __export__.temp_log_196131_7bca51bc  Room Admin 2018-12-08 09:30:00
2      __export__.temp_log_196127_522915e3  Room Admin 2018-12-08 09:29:00
3      __export__.temp_log_196128_be0919cf  Room Admin 2018-12-08 09:29:00
4      __export__.temp_log_196126_d30b72fb  Room Admin 2018-12-08 09:29:00
...                                    ...         ...                 ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin 2018-07-28 07:07:00
97602  __export__.temp_log_147733_62c03f31  Room Admin 2018-07-28 07:07:00
97603  __export__.temp_log_100386_84093a68  Room Admin 2018-07-28 07:06:00
97604  __export__.temp_log_123297_4d8e690b  Room Admin 2018-07-28 07:06:00
97605  __export__.temp_log_133741_32958703  Room Admin 2018-07-28 07:06:00

       temp out/in        date   time   season time_of_day
0        29     In  08-12-2018  09:30   Winter     Morning
1        29     In  08-12-2018  09:30   Winter     Morning
2        41    Out  08-12-2018  09:29   Winter     Morning
3        41    Out  08-12-2018  09:29   Winter     Morning
4        31     In  08-12-2018  09:29   Winter     Morning
...     ...    ...         ...    ...      ...         ...
97601    31     In  28-07-2018  07:07  Monsoon     Morning
97602    31     In  28-07-2018  07:07  Monsoon     Morning
97603    31     In  28-07-2018  07:06  Monsoon     Morning
97604    31     In  28-07-2018  07:06  Monsoon     Morning
97605    31     In  28-07-2018  07:06  Monsoon     Morning

[97606 rows x 9 columns]>